/*boilerplate stuff*/
body {
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom: 150px;
}
h1,
h2 {
	margin: 50px;
	text-align: center;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}
/*style logo*/
.logo {
  /* display: block; */ /* these two lines center the logo */
  /* margin: auto; */
  width: 50px;
  position: relative;
  left: 15px;
  margin-top: 15px;
}
.chart_title {
    line-height: .75em;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: black;
}
.chart_subtitle {
    font-size: 16px;
    font-weight: 100;
    line-height: 1.8em;
    margin-bottom: 30px;
	text-align: center;	
}
/*opening headline and paragraph styling*/
/*opener div*/
.opener {
	width: 700px;
    margin: 0 auto;
	margin-top: 0px;
	/* background-color: #f8f8ff;	 */
}
/*opening headline style*/
.tk-futura-pt {
    font-family: "futura-pt",sans-serif;
}
.opener-headline {
    font-weight: 600;
    font-size: 48px;
    letter-spacing: 6px;
    text-transform: uppercase;
    text-align: center;
    color: black;
    font-size: 46px;
    letter-spacing: 1px;
     /*text-transform: none; */
    margin-top: 15px; /*from 90*/
}
/*opening subtitle styling*/
.opener-sub {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.6em;
    text-transform: uppercase;
    width: 417px;
    margin: 0 auto;
    margin-top: 10px;
    letter-spacing: 1px;
    text-align: center;
    color: #0091e6;
}
/*regular prose in opener styling*/
.opener-prose-container {
    width: 640px;
    margin: 0 auto;
	margin-top: 40px;
}
.opener-prose {
    font-size: 16px;
    font-weight: 100;
    line-height: 1.8em;
    margin-bottom: 30px;
}
@media (max-width: 480px) {
.opener-prose-container {
    margin-top: 22px;
    width: 100%;
	}
}
/*make it mobile friendly*/
@media (max-width: 480px) {
.opener-headline {
    font-size: 50px;
    letter-spacing: 0px;
    padding-top: 10px;
    font-size: 32px;
	margin-top: 0px;
	}
}
/* input forms */
input[type=text] {
	margin: auto;
	width: 80%;
	height: 100%;
	font-size: 10px;
	background-color: hsl(200, 25%, 94%);
	border: none;
	border-radius: 2px;
	text-align: center;
}
::placeholder { /* color the placeholder text inside of the input form*/
	color: hsl(200, 16%, 16%);
}
/* styling for the input in the category container */
#center {
  padding: 10px;
}
input[type=button] {
	margin: 15px;
	font-size: 15px;
}
/*make horizontal scrolling*/
.main_container {
	width: 90%;
	/* position: relative; this cause container to be vertically scrollable  */
    overflow-x: auto;
	/*white-space: nowrap;*/
	/*border: 1px solid;*/
	border-radius: 5px;
	/* text-align: center; */
    margin: 0 auto;
	box-shadow: 0 2px 6px hsla(0, 0%, 0%, 0.3);
}
/* container stuff */
.container {
	width: 20%;
	border: None;
	float: left;
	clear: right;
	margin: 10px;
	border-radius: 5px;
	padding-top: 15px;
	text-align: center;
	box-shadow: 0 2px 6px hsla(0, 0%, 0%, 0.3);
}
/* sortable stuff */
.sortable {
	list-style-type: none;
	margin: 0;
	padding: 2px;
	min-height: 30px;
	border-radius: 5px;
}
.sortable li {
	margin: 3px 3px 3px 3px;
	padding: 0.4em;
	padding-left: 1.5em;
	/*padding-right: 1.5em;*/
	height: 18px;
	float: left;
	clear: right;
}
.sortable li span {
	position: relative;
	margin-left: -1.3em;
}
/* horizontal scrolling stuff -- looks like float and clear might be better*/
/* because using smaller chips*/
/*.scrolling-wrapper {
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	padding-bottom: 1.5em;
  }
  .card {
	  display: inline-block;
	}
  .scrolling-wrapper-flexbox {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	padding-bottom: 1.5em;  
  }
  .card {
	  flex: 0 0 auto;
	  margin-right: 3px;
	}
  .card {
	background-color: #610E2E;
	border-radius: 5px;
	border: 2px solid red;
	align-content: center;
	align-items: center;
	width: 125px;
	height: 80px;
  }
  .scrolling-wrapper, .scrolling-wrapper-flexbox {
	height: 80px;
	margin-bottom: 20px;
	width: 100%;
	-webkit-overflow-scrolling: touch;
	 &::-webkit-scrollbar {
	  display: none;
	} 
  }*/

/* Style da button */
.button {
/*	display: inline-block;
	position: relative;
	left: 500px; */
	padding: 15px 25px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #4CAF50;
	border: none;
	border-radius: 15px;
	/*box-shadow: 0 5px #999;*/
	box-shadow: 0 5px 5px hsla(0, 0%, 0%, 0.3);
  }  
/*center the button*/
#center_button {
  /*height: 40px;*/
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
	background-color: white; 
	color: black; 
	border: 1.5px solid #557A95;
	opacity: 0.8;
} 
.button:hover {
	background-color: #557A95;
	color: white;
	transition-duration: 0.4s;
	box-shadow: 0 5px 5px hsla(0, 0%, 0%, 0.5);
}
.button:active {
	background-color: #557A95;
	/*box-shadow: 0 1px #666;*/
	box-shadow: 0 1px 5px hsla(0, 0%, 0%, 0.3);
	transform: translateY(4px);
	transition-duration: 0.1s;
}

/*all card styles*/
.card {
	border-radius: 3px;
}
.card:hover {
	transition-duration: 0.2s;
	box-shadow: 0 5px 5px hsla(0, 0%, 0%, 0.5);	
}
.card:active {
	box-shadow: 0 10px 5px hsla(0, 0%, 0%, 0.5);
	transform: translate(1px, -1px);
	transition-duration: 0.1s;
}
 /*card color ids*/
#card_1 {
 	background-color: #610E2E;
 }
#card_2 {
 	background-color: #630E26;
 }
#card_3 {
 	background-color: #63101D;
 }
#card_4 {
 	background-color: #581F1B;
 }
#card_5 {
 	background-color: #4D271D;
 }
#card_6 {
 	background-color: #4B2917;
 }
#card_7 {
 	background-color: #482B12;
 }
#card_8 {
 	background-color: #3D2F21;
 }
#card_9 {
 	background-color: #3A3020;
 }
#card_10 {
 	background-color: #383120;
 }
#card_11 {
 	background-color: #363221;
 }
#card_12 {
 	background-color: #333222;
 }
#card_13 {
 	background-color: #303324;
 }
#card_14 {
 	background-color: #2E3326;
 }
#card_15 {
 	background-color: #22371A;
 }
#card_16 {
 	background-color: #1C3820;
 }
#card_17 {
 	background-color: #153826;
 }
#card_18 {
 	background-color: #113829;
 }
#card_19 {
 	background-color: #0D382C;
 }
#card_20 {
 	background-color: #08392F;
 }
#card_21 {
 	background-color: #033833;
 }
#card_22 {
 	background-color: #223534;
 }
#card_23 {
 	background-color: #223536;
 }
#card_24 {
 	background-color: #213538;
 }
#card_25 {
 	background-color: #213439;
 }
#card_26 {
 	background-color: #22343B;
 }
#card_27 {
 	background-color: #063648;
 }
#card_28 {
 	background-color: #10354A;
 }
#card_29 {
 	background-color: #1A334B;
 }
#card_30 {
 	background-color: #113259;
 }
#card_31 {
 	background-color: #242870;
 }
#card_32 {
 	background-color: #372660;
 }
#card_33 {
 	background-color: #42225B;
 }
#card_34 {
 	background-color: #491F57;
 }
#card_35 {
 	background-color: #47244A;
 }
#card_36 {
 	background-color: #4A2347;
 }
#card_37 {
 	background-color: #571648;
 }
#card_38 {
 	background-color: #571648;
 }
#card_39 {
 	background-color: #5D123C;
 }
#card_40 {
 	background-color: #5F1036;
 }
#card_41 {
 	background-color: #8C1737;
 }
#card_42 {
 	background-color: #8D192B;
 }
#card_43 {
 	background-color: #8B1D1E;
 }
#card_44 {
 	background-color: #892211;
 }
#card_45 {
 	background-color: #7B320F;
 }
#card_46 {
 	background-color: #6E3B19;
 }
#card_47 {
 	background-color: #693E12;
 }
#card_48 {
 	background-color: #644109;
 }
#card_49 {
 	background-color: #5A4520;
 }
#card_50 {
 	background-color: #55471E;
 }
#card_51 {
 	background-color: #51491D;
 }
#card_52 {
 	background-color: #4C4A1E;
 }
#card_53 {
 	background-color: #464C20;
 }
#card_54 {
 	background-color: #404D25;
 }
#card_55 {
 	background-color: #2E511B;
 }
#card_56 {
 	background-color: #205327;
 }
#card_57 {
 	background-color: #085433;
 }
#card_58 {
 	background-color: #24513E;
 }
#card_59 {
 	background-color: #205142;
 }
#card_60 {
 	background-color: #1B5145;
 }
#card_61 {
 	background-color: #17514A;
 }
#card_62 {
 	background-color: #12514F;
 }
#card_63 {
 	background-color: #0E5153;
 }
#card_64 {
 	background-color: #0E5058;
 }
#card_65 {
 	background-color: #0F505C;
 }
#card_66 {
 	background-color: #154F5F;
 }
#card_67 {
 	background-color: #1E4E62;
 }
#card_68 {
 	background-color: #264C64;
 }
#card_69 {
 	background-color: #194C72;
 }
#card_70 {
 	background-color: #16497F;
 }
#card_71 {
 	background-color: #333F97;
 }
#card_72 {
 	background-color: #4F3A87;
 }
#card_73 {
 	background-color: #5E3581;
 }
#card_74 {
 	background-color: #67307B;
 }
#card_75 {
 	background-color: #6F2C75;
 }
#card_76 {
 	background-color: #76276E;
 }
#card_77 {
 	background-color: #7E2263;
 }
#card_78 {
 	background-color: #831E58;
 }
#card_79 {
 	background-color: #871B4E;
 }
#card_80 {
 	background-color: #8B1742;
 }
#card_81 {
 	background-color: #BE1547;
 }
#card_82 {
 	background-color: #BE1A34;
 }
#card_83 {
 	background-color: #BC2221;
 }
#card_84 {
 	background-color: #AF3812;
 }
#card_85 {
 	background-color: #A04710;
 }
#card_86 {
 	background-color: #92501C;
 }
#card_87 {
 	background-color: #8C540F;
 }
#card_88 {
 	background-color: #815A21;
 }
#card_89 {
 	background-color: #7A5D1B;
 }
#card_90 {
 	background-color: #745F16;
 }
#card_91 {
 	background-color: #6E6213;
 }
#card_92 {
 	background-color: #676412;
 }
#card_93 {
 	background-color: #5E6718;
 }
#card_94 {
 	background-color: #546921;
 }
#card_95 {
 	background-color: #3A6E15;
 }
#card_96 {
 	background-color: #22702A;
 }
#card_97 {
 	background-color: #256E48;
 }
#card_98 {
 	background-color: #196F50;
 }
#card_99 {
 	background-color: #086F56;
 }
#card_100 {
 	background-color: #356B5D;
 }
#card_101 {
 	background-color: #326B62;
 }
#card_102 {
 	background-color: #2F6B67;
 }
#card_103 {
 	background-color: #2E6A6B;
 }
#card_104 {
 	background-color: #2E6A70;
 }
#card_105 {
 	background-color: #316974;
 }
#card_106 {
 	background-color: #356877;
 }
#card_107 {
 	background-color: #196986;
 }
#card_108 {
 	background-color: #2B6788;
 }
#card_109 {
 	background-color: #1D6697;
 }
#card_110 {
 	background-color: #2163A5;
 }
#card_111 {
 	background-color: #485AB1;
 }
#card_112 {
 	background-color: #6456A0;
 }
#card_113 {
 	background-color: #745199;
 }
#card_114 {
 	background-color: #7E4D94;
 }
#card_115 {
 	background-color: #88498C;
 }
#card_116 {
 	background-color: #904584;
 }
#card_117 {
 	background-color: #98427A;
 }
#card_118 {
 	background-color: #9E3F6D;
 }
#card_119 {
 	background-color: #A23D62;
 }
#card_120 {
 	background-color: #A53B58;
 }
#card_121 {
 	background-color: #DC405D;
 }
#card_122 {
 	background-color: #DD414B;
 }
#card_123 {
 	background-color: #DC4436;
 }
#card_124 {
 	background-color: #D74C13;
 }
#card_125 {
 	background-color: #C65C10;
 }
#card_126 {
 	background-color: #B8661A;
 }
#card_127 {
 	background-color: #B06B02;
 }
#card_128 {
 	background-color: #A3711C;
 }
#card_129 {
 	background-color: #9C750F;
 }
#card_130 {
 	background-color: #947902;
 }
#card_131 {
 	background-color: #897C2A;
 }
#card_132 {
 	background-color: #827E2B;
 }
#card_133 {
 	background-color: #778203;
 }
#card_134 {
 	background-color: #6A8519;
 }
#card_135 {
 	background-color: #4A8B0D;
 }
#card_136 {
 	background-color: #2A8E30;
 }
#card_137 {
 	background-color: #238C57;
 }
#card_138 {
 	background-color: #3B8968;
 }
#card_139 {
 	background-color: #35896E;
 }
#card_140 {
 	background-color: #308974;
 }
#card_141 {
 	background-color: #2B897A;
 }
#card_142 {
 	background-color: #248982;
 }
#card_143 {
 	background-color: #1D8989;
 }
#card_144 {
 	background-color: #1B8891;
 }
#card_145 {
 	background-color: #218796;
 }
#card_146 {
 	background-color: #2E859C;
 }
#card_147 {
 	background-color: #3C839F;
 }
#card_148 {
 	background-color: #2483AF;
 }
#card_149 {
 	background-color: #1E81BF;
 }
#card_150 {
 	background-color: #277DCE;
 }
#card_151 {
 	background-color: #6776BE;
 }
#card_152 {
 	background-color: #7C71BA;
 }
#card_153 {
 	background-color: #8C6CB5;
 }
#card_154 {
 	background-color: #9768AE;
 }
#card_155 {
 	background-color: #A364A5;
 }
#card_156 {
 	background-color: #B559A4;
 }
#card_157 {
 	background-color: #BE5497;
 }
#card_158 {
 	background-color: #C75086;
 }
#card_159 {
 	background-color: #D6427B;
 }
#card_160 {
 	background-color: #D9406C;
 }
#card_161 {
 	background-color: #ED6B78;
 }
#card_162 {
 	background-color: #EF6B6A;
 }
#card_163 {
 	background-color: #EE6D59;
 }
#card_164 {
 	background-color: #F66930;
 }
#card_165 {
 	background-color: #EE710D;
 }
#card_166 {
 	background-color: #DD7D17;
 }
#card_167 {
 	background-color: #CE8526;
 }
#card_168 {
 	background-color: #C68A13;
 }
#card_169 {
 	background-color: #B88F2D;
 }
#card_170 {
 	background-color: #AF9324;
 }
#card_171 {
 	background-color: #A6961F;
 }
#card_172 {
 	background-color: #9E991F;
 }
#card_173 {
 	background-color: #929D26;
 }
#card_174 {
 	background-color: #84A033;
 }
#card_175 {
 	background-color: #66A62D;
 }
#card_176 {
 	background-color: #2FAC36;
 }
#card_177 {
 	background-color: #17AB64;
 }
#card_178 {
 	background-color: #33A87B;
 }
#card_179 {
 	background-color: #25A884;
 }
#card_180 {
 	background-color: #10A98B;
 }
#card_181 {
 	background-color: #46A493;
 }
#card_182 {
 	background-color: #40A49C;
 }
#card_183 {
 	background-color: #3EA4A3;
 }
#card_184 {
 	background-color: #3DA3AA;
 }
#card_185 {
 	background-color: #41A2B0;
 }
#card_186 {
 	background-color: #4CA0B5;
 }
#card_187 {
 	background-color: #2FA1C6;
 }
#card_188 {
 	background-color: #06A0D7;
 }
#card_189 {
 	background-color: #459CDA;
 }
#card_190 {
 	background-color: #6198DA;
 }
#card_191 {
 	background-color: #8592CB;
 }
#card_192 {
 	background-color: #948EC8;
 }
#card_193 {
 	background-color: #A18BC5;
 }
#card_194 {
 	background-color: #AA88BF;
 }
#card_195 {
 	background-color: #BE7FC0;
 }
#card_196 {
 	background-color: #C77CB6;
 }
#card_197 {
 	background-color: #CE79AA;
 }
#card_198 {
 	background-color: #D6779C;
 }
#card_199 {
 	background-color: #E76D92;
 }
#card_200 {
 	background-color: #EB6B84;
 }
#card_201 {
 	background-color: #F0979A;
 }
#card_202 {
 	background-color: #F19792;
 }
#card_203 {
 	background-color: #F29787;
 }
#card_204 {
 	background-color: #FE936D;
 }
#card_205 {
 	background-color: #FA965F;
 }
#card_206 {
 	background-color: #FC9735;
 }
#card_207 {
 	background-color: #F39D1F;
 }
#card_208 {
 	background-color: #E3A434;
 }
#card_209 {
 	background-color: #D9A925;
 }
#card_210 {
 	background-color: #CEAD13;
 }
#card_211 {
 	background-color: #C4B105;
 }
#card_212 {
 	background-color: #B9B43E;
 }
#card_213 {
 	background-color: #ACB911;
 }
#card_214 {
 	background-color: #9CBC29;
 }
#card_215 {
 	background-color: #81C148;
 }
#card_216 {
 	background-color: #68C461;
 }
#card_217 {
 	background-color: #44C77B;
 }
#card_218 {
 	background-color: #54C394;
 }
#card_219 {
 	background-color: #4BC49C;
 }
#card_220 {
 	background-color: #42C4A4;
 }
#card_221 {
 	background-color: #38C4AC;
 }
#card_222 {
 	background-color: #2CC4B6;
 }
#card_223 {
 	background-color: #60BFBB;
 }
#card_224 {
 	background-color: #60BEC3;
 }
#card_225 {
 	background-color: #62BDC9;
 }
#card_226 {
 	background-color: #69BBCF;
 }
#card_227 {
 	background-color: #72B9D3;
 }
#card_228 {
 	background-color: #64B9E4;
 }
#card_229 {
 	background-color: #79B5E7;
 }
#card_230 {
 	background-color: #89B2E8;
 }
#card_231 {
 	background-color: #A3AED8;
 }
#card_232 {
 	background-color: #AEABD7;
 }
#card_233 {
 	background-color: #B7A8D3;
 }
#card_234 {
 	background-color: #BEA6CF;
 }
#card_235 {
 	background-color: #D19FD1;
 }
#card_236 {
 	background-color: #D99CC9;
 }
#card_237 {
 	background-color: #EC93C4;
 }
#card_238 {
 	background-color: #F391B6;
 }
#card_239 {
 	background-color: #EB98AC;
 }
#card_240 {
 	background-color: #ED97A2;
 }
#card_241 {
 	background-color: #FDB9BA;
 }
#card_242 {
 	background-color: #FEB9B3;
 }
#card_243 {
 	background-color: #EEBFB6;
 }
#card_244 {
 	background-color: #EFC0B0;
 }
#card_245 {
 	background-color: #FEBB99;
 }
#card_246 {
 	background-color: #FABE91;
 }
#card_247 {
 	background-color: #F5C08A;
 }
#card_248 {
 	background-color: #F8C169;
 }
#card_249 {
 	background-color: #FBC211;
 }
#card_250 {
 	background-color: #E9C938;
 }
#card_251 {
 	background-color: #DFCD33;
 }
#card_252 {
 	background-color: #D6D032;
 }
#card_253 {
 	background-color: #C7D437;
 }
#card_254 {
 	background-color: #B8D745;
 }
#card_255 {
 	background-color: #9DDD5F;
 }
#card_256 {
 	background-color: #93DC89;
 }
#card_257 {
 	background-color: #7DDF9C;
 }
#card_258 {
 	background-color: #88DBB2;
 }
#card_259 {
 	background-color: #83DCB9;
 }
#card_260 {
 	background-color: #7FDCC0;
 }
#card_261 {
 	background-color: #7DDBC6;
 }
#card_262 {
 	background-color: #98D6CC;
 }
#card_263 {
 	background-color: #98D6D1;
 }
#card_264 {
 	background-color: #98D5D6;
 }
#card_265 {
 	background-color: #99D4DB;
 }
#card_266 {
 	background-color: #9ED3DF;
 }
#card_267 {
 	background-color: #A4D1E1;
 }
#card_268 {
 	background-color: #ABCFE4;
 }
#card_269 {
 	background-color: #A2CFF5;
 }
#card_270 {
 	background-color: #ADCCF7;
 }
#card_271 {
 	background-color: #C2C9E5;
 }
#card_272 {
 	background-color: #C9C8E3;
 }
#card_273 {
 	background-color: #CEC6E2;
 }
#card_274 {
 	background-color: #D3C5DF;
 }
#card_275 {
 	background-color: #E3BFE2;
 }
#card_276 {
 	background-color: #EABDDD;
 }
#card_277 {
 	background-color: #F1BBD5;
 }
#card_278 {
 	background-color: #F6BACD;
 }
#card_279 {
 	background-color: #F9B9C6;
 }
#card_280 {
 	background-color: #FBB9C0;
 }
#card_281 {
 	background-color: #F2E2E2;
 }
#card_282 {
 	background-color: #F4E2DF;
 }
#card_283 {
 	background-color: #F5E1DD;
 }
#card_284 {
 	background-color: #F5E1DB;
 }
#card_285 {
 	background-color: #F7E1D7;
 }
#card_286 {
 	background-color: #F7E2D2;
 }
#card_287 {
 	background-color: #F6E2CE;
 }
#card_288 {
 	background-color: #F4E3CA;
 }
#card_289 {
 	background-color: #FBE4AD;
 }
#card_290 {
 	background-color: #FBE68E;
 }
#card_291 {
 	background-color: #F4E88C;
 }
#card_292 {
 	background-color: #EEEA8C;
 }
#card_293 {
 	background-color: #E5EC8F;
 }
#card_294 {
 	background-color: #E0ECAC;
 }
#card_295 {
 	background-color: #DBEBCC;
 }
#card_296 {
 	background-color: #D5ECD1;
 }
#card_297 {
 	background-color: #D1EDD6;
 }
#card_298 {
 	background-color: #CEEDDB;
 }
#card_299 {
 	background-color: #CCEDDE;
 }
#card_300 {
 	background-color: #CBEDE0;
 }
#card_301 {
 	background-color: #CBEDE3;
 }
#card_302 {
 	background-color: #CBEDE6;
 }
#card_303 {
 	background-color: #CBECE9;
 }
#card_304 {
 	background-color: #CDECEB;
 }
#card_305 {
 	background-color: #CFEBED;
 }
#card_306 {
 	background-color: #D2EAEF;
 }
#card_307 {
 	background-color: #D6E9EF;
 }
#card_308 {
 	background-color: #D8E8F0;
 }
#card_309 {
 	background-color: #DDE7F0;
 }
#card_310 {
 	background-color: #DFE6F0;
 }
#card_311 {
 	background-color: #E2E5F0;
 }
#card_312 {
 	background-color: #E5E4EF;
 }
#card_313 {
 	background-color: #E7E4EF;
 }
#card_314 {
 	background-color: #E8E4EE;
 }
#card_315 {
 	background-color: #ECE3EB;
 }
#card_316 {
 	background-color: #EDE3E9;
 }
#card_317 {
 	background-color: #EFE2E8;
 }
#card_318 {
 	background-color: #F0E2E6;
 }
#card_319 {
 	background-color: #F1E2E4;
 }
#card_320 {
 	background-color: #F2E2E3;
 }
